body {
     font-family: Arial,
     sans-serif; 
     text-align: center; 
     padding: 20px; 
    }

h2 {
    color:#4B0145; 
}
.pedido {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
}
button {
    padding: 10px; 
    background-color: #4B0145; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
button:hover {
    background-color:#4B0145; 
}